body {
  background-color: #2a2a2a;
  color: white;
  font-family: 'Inclusive Sans', sans-serif;
  height: 100%;
  margin: 0;
}

.background {
  background-image: url('fireworks.jpg');
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.elements {
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 2;
  max-height: 62.5vh;
  overflow: auto;
}
